header{
    height: 20px;
    background-color: #000;
}

.concept{
    margin: auto;
    display: block;
    margin-left: 7vw;
    width: 25vw;
    position: absolute;
    top: 9vw;
}

.frame{
    margin: auto;
    display: block;
    position: absolute;
    width: 14vw;
    margin-left: 9vw;
    top: 39vw;
}

.frame2{
    margin: auto;
    display: block;
    width: 14vw;
    margin-left: 77vw;
    position: absolute;
    top: 39vw;

}

.concept_frame{
    margin: auto;
    display: block;
    width: 94vw;
    top: 6px;
    position: absolute;
    left: 0;
    right: 0;
}

.container{
    font-size: 1vw;
}
p {
    height:60px;
    text-align:center;
    position:relative;
}

.back_link{
    position: absolute;
    top: 65vw;
    right: 4vw;
}